/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;




.active{

    @apply md:hidden absolute w-32 h-32 border border-black right-3 top-14;

}
.inactive{

    @apply text-white;

}